
	q {
	text-align: center;
	display: block
	}

.cent {
	display: inline;
	float: center;
}


/* Banner */
	#header {
		background: #000;
	}
	#header h1, a, span {
		vertical-align: top;
	}
	#header h1, nav {
		color: #fff;
	}
	#header img {
		padding: 0.5em 0;
	}
  /* hyperlinks */
  .banner {
        /* border-bottom: none; */
        color: inherit;
  }
  .banner:hover {
        border-bottom: none;
        color: #3fb1a3;
  }

/* Content */

	.text p{
		text-align: justify;
	}

	.text a{
		text-align: left;
		border-bottom: dotted 1px;
	}

	.text h1{
		text-align: left;
	}

	.text a:hover{
		color: #3fb1a3;
	}

	.post-meta {
		margin: 1em 0;
		text-align: left;
	}

	.fa {
		margin: 0 0.3em;
	}

/* Footer */
#footer {
	padding: 2em;
}

/* Post */
.post h2 {
	color: #000;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
figure {
  margin: 1em 40px;
}
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }
