---
layout: default
banner: false
---
<!-- Header -->
<header id="header">
	{% include nav_bar.html %}
</header>

<header class="special container post">
	<h0>{{ page.title }}</h0>
</header>

{% if page.toc %}
<div id="TOC" class="tocify">
	{% include toc.html html=content h_max=2 %}
</div>
{% endif %}
<!-- One -->

<section class="wrapper style1 container post">
	<!-- <header class="container post-meta"> -->
		<p class="post-meta"><i class="fa fa-user"></i> {{ page.author }} <i class="fa fa-calendar"></i> {{ page.date | date: "%d %B %Y" }}</p>
		<p> why is nothing showing up on the page? </p>
		<p class="post-meta">{{page.tags}}</p>

		<p class="post-meta">{{page.previous.tags}}</p>

		<p class="post-meta">post {{post.tags}}</p>

	<!-- </header> -->

		{{ content }}


	{% include share_bar.html %}

	{% include disqus.html %}


		{% if page.previous.url or page.next.url %}
		<hr />

		<div class="row">
			<article class="6u 12u(narrower)">
				{% if page.previous.url %}
					<h4>Previous</h4>
					<p class="no_space"><a href="{{ page.previous.url }}">{{page.previous.title}}</a></p>
					<p>{{page.previous.excerpt}}</p>
				{% endif %}
			</article>
			<article class="6u 12u(narrower)">
				{% if page.next.url %}
				{% unless page.next.tags contain 'draft' %}
					<h4>Next</h4>
					<p class="no_space"><a href="{{ page.next.url }}">{{page.next.title}}</a></p>
					<p>{{page.next.excerpt}}</p>
				{% endunless %}
				{% endif %}
			</article>
		</div>
		{% endif %}
	</section>
